:root {
  --backgroundcolor: rgb(166, 250, 253);
  --navbackgroundcolor: rgb(133, 131, 131);
  --maintextcolor: black;
  --secondarytextcolor: rgb(0, 0, 0);
  --buttonbackground: #ffffff;
  --buttontextcolor: black;
}

body {
  background-color: var(--backgroundcolor);
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar,
footer {
  text-align: center;
  padding: 1em 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0s;
}

.nav-button {
  text-decoration: none;
  color: var(--buttontextcolor);
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--buttonbackground);
  border-radius: 2em;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar {
  position: relative;
}

.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-icon {
  display: none;
}

.dropdown {
  display: none;
}

main {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2em;
}

#title {
  color: var(--maintextcolor);
  font-size: 3em;
  margin: 0;
}

#description {
  font-size: 1em;
  margin-top: -0.5em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#aboutme {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  font-size: 0.5em;
  opacity: 0;
  max-width: 60%; 
  animation: fadeIn 1s forwards;
  animation-delay: 0s;
}


#buttons {
  margin-top: 1em;
  opacity: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.main-button {
  text-decoration: none;
  color: var(--buttontextcolor);
  padding: 10px 20px;
  background-color: var(--buttonbackground);
  border-radius: 2em;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.main-button:hover {
  background-color: var(--buttontextcolor);
  color: var(--buttonbackground);
  border-color: var(--buttonbackground);
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 0 1em;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0s;
}

.footer-socials a {
  text-decoration: none;
  color: var(--maintextcolor);
  font-size: 1em;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: var(--secondarytextcolor);
  font-weight: bold;
}

.footer-socials i {
  margin-right: 8px;
  transition: transform 0.5s, font-size 0.5s, text-shadow 0.5s;
}

.footer-socials a:hover i {
  transform: rotate(360deg) scale(1.2);
  font-size: 1.2em;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInLong {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInLong {
  animation: fadeInLong 1.5s forwards;
}

.link-divider {
  display: inline-block;
  height: 24px;
  border-left: 2px solid #000000;
  margin: 0 10px;
  vertical-align: middle;
}

@media (max-width: 1000px) {
  #menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
  }

  .nav-button {
    display: none; /* Hide nav links on smaller screens */
  }

  .dropdown {
    display: block; /* Show the dropdown container on smaller screens */
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--buttonbackground);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--buttontextcolor);
    white-space: nowrap;
  }

  .dropdown-content a:hover {
    background-color: var(--buttontextcolor);
    color: var(--buttonbackground);
  }
}
